**Q.1  Write a code to create a string with your name and print it.**

In [1]:
Name = "Muskan Ghosle"
print(Name)

Muskan Ghosle

**Q.2  Write a code to find the length of the string "Hello World."**

In [2]:
Greetings = "Hello World"
length = len(Greetings)
print(length)

11

**Q.3 Write a code to slice the first 3 characters from the string "Python Programming"**

In [3]:
language = "Python Programming"
slice = language[0:3]
print(slice)

Pyt

**Q.4  Write a code to convert the string "hello" to uppercase**

In [4]:
greet = "hello"
print(greet.upper())

HELLO

**Q.5  Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [5]:
string = "I Like apple"
new_string = string.replace("apple","orange")
print(new_string)

I Like orange

**Q.6 Write a code to create a list with numbers 1 to 5 and print it**

In [6]:
list_value = [1,2,3,4,5]
print(list_value)

[1, 2, 3, 4, 5]

**Q.7 Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [7]:
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

**Q.8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [8]:
new_list = [1,2,3,4,5]
new_list.remove(3)
print(new_list)

[1, 2, 4, 5]

**Q.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [9]:
string_list = ['a','b','c','d']
print(string_list[1])

b

**Q.10  Write a code to reverse the list [10, 20, 30, 40, 50]**

In [11]:
number_list = [10,20,30,40,50]
number_list.reverse()
print(number_list)

[50, 40, 30, 20, 10]

**Q.11 Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [12]:
tuple_value = (100,200,300)
print(tuple_value)

(100, 200, 300)

**Q.12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')**

In [13]:
colors = ('red','green', 'blue', 'yellow')
print(colors[-2])

blue

**Q.13  Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [17]:
num = (10,20,5,15)
min_num = min(num)
print("minimum number of the tuple : ",min_num)

minimum number of the tuple :  5

**Q.14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [19]:
animals = ('dog','cat','rabbit')
print("Index of cat is :",animals.index('cat'))

Index of cat is : 1

**Q.15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [22]:
fruits = ("apple","banana","kiwi")
check =  "kiwi" in fruits
print(check)

True

**Q.16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [23]:
alpha = {'a','b','c'}
print(alpha)
print(type(alpha))

{'b', 'c', 'a'}
<class 'set'>

**Q.17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [24]:
numers = {1,2,3,4,5}
numers.clear()
print(numers)

set()

**Q.18  Write a code to remove the element 4 from the set {1, 2, 3, 4}**

In [25]:
elimation = {1,2,3,4}
elimation.remove(4)
print(elimation)

{1, 2, 3}

**Q.19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [29]:
set1 = {1,2,3}
set2= {3,4,5}
sets = set1.union(set2)
print("Union of two sets :",sets)

Union of two sets : {1, 2, 3, 4, 5}

**Q.20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [30]:
num1 = {1,2,3}
num2 = {2,3,4}
intersect = num1.intersection(num2)
print("intersection of two sets : ",intersect)

intersection of two sets :  {2, 3}

**Q.21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [31]:
intro = {"name":"Muskan","age":20,"city":"Mumbai"}
print(intro)

{'name': 'Muskan', 'age': 20, 'city': 'Mumbai'}

**Q.22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [32]:
old_intro = {'name':'john','age':25}
old_intro['country'] = 'USA'
print(old_intro)

{'name': 'john', 'age': 25, 'country': 'USA'}

**Q.23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [33]:
access = {"name":'Alice','age':30}
print(access['name'])

Alice

**Q.24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [34]:
dict = {'name':'Bob','age':22,'city':'New York'}
dict.pop('age')
print(dict)

{'name': 'Bob', 'city': 'New York'}

**Q.25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [35]:
finding = {'name':'Alice','city':'Paris'}
print("city" in finding)

True

**Q.26 Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [36]:
# Create a list
my_list = [1, 2, 3, "apple", "banana"]
print("List:", my_list)

# Create a tuple
my_tuple = (10, 20, 30, "orange", "grape")
print("Tuple:", my_tuple)

# Create a dictionary
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print("Dictionary:", my_dict)

List: [1, 2, 3, 'apple', 'banana']
Tuple: (10, 20, 30, 'orange', 'grape')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

**Q.27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced)**

In [37]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [33, 43, 45, 46, 93]

**Q.28 Write a code to create a list with strings and print the element at the third index.**

In [38]:

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", my_list[3])

Element at index 3: date

**Q.29 Write a code to combine two dictionaries into one and print the result.**

In [39]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}

combined_dict = dict1 | dict2
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 3, 'c': 4}

**Q.30 Write a code to convert a list of strings into a set.**

In [40]:

string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)

print("Original List:", string_list)
print("Converted Set:", string_set)

Original List: ['apple', 'banana', 'cherry', 'apple', 'banana']
Converted Set: {'apple', 'banana', 'cherry'}